@model IEnumerable<Ogrenci_Bilgi_Sistemi_Core5.Models.Ogrenci>

@{
    ViewBag.Title = "Index";
}


<body>
    <h2>Öğrenciler</h2>

    <a class="btn btn-primary" href="/Ogrenci/Create" role="button">Yeni Kayıt</a>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCKimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AldigiEgitim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasariDurumu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TCKimlikNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AldigiEgitim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasariDurumu)
                </td>
                <td>

                    <a class="btn btn-primary" href="/Ogrenci/Edit/@item.Id" role="button">Düzenle</a>

                    <a class="btn btn-primary" href="/Ogrenci/Delete/@item.Id" role="button">Sil</a>

                </td>
            </tr>
        }

    </table>

</body>

